.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  background-color:  #1f1f60
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.navbar ul{
  display: flex;
  justify-content: space-around;
  min-width: 35%;

}
.navbar ul li{
  list-style: none;
  color: white;
}

.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.signout-btn{
  border-radius: 50px;
  padding: 15px 10px;
  min-width: 140px;
  background-image: linear-gradient(to right,#4564ee,#b9dbff);
  color: white;
  font-size: 16px;
  border: none;
}
.signoutEdit-btn{
  border-radius: 50px;
  padding: 15px 10px;
  min-width: 140px;
  background-image: linear-gradient(to right,#4564ee,#b9dbff);
  color: white;
  font-size: 16px;
  border: none;
}
.menu-btn{
  border-radius: 50px;
  padding: 15px 10px;
  min-width: 140px;
  color: white;
  font-size: 16px;
  border: none;
}


.btn-group{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.card-list{
  background-color: #1f1f60;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item{
  padding: 20px !important;
  width: 240px;
  border-radius: 10px;
  margin-top: 20px;
  background-image: linear-gradient(to right,#4564ee,#b9dbff);
  cursor: pointer;
}
.cardDetail-item{
  display: flex;
  padding: 20px !important;
  width: 70%;
  margin-left: 40px;
  border-radius: 10px;
  margin-top: 20px;
  background-image: linear-gradient(to right,#4564ee,#b9dbff);
}

.card-name{
  margin: 5px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.card-img{
  border-radius: 10px;
  width: 100%;
  text-align: center;
}
.editCard-img{
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.card-btn{
  margin-top: 10px;
  bottom: 10px;
  border-radius: 50px;
  padding: 10px 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: white;
}

.detail-data{
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}
